div#footer

.footer
    h1= footerTitle
    a#footer-link(href="https://github.com/WilliamBork33") GitHub
    br
    a#footer-link(href="http://williambork.com/") Website
    br
    img#enroute2(src="/images/enroute2.PNG")
