extends layout

block content
  h1= title
  p Welcome to Enroute Rockstars Homepage

    img#enroute(src="/images/enroute.PNG" width="100%")
  
    div#messages
      ul#message-list.messages-list
      div.messages-bottom
        div#writing-message.hidden Someone is writing...
        input#message(placeholder="Write your message...")
        a.btn#message-send Send
    