doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://localhost:4201/livereload.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js")
    
    script(src="/socket/io/socket.io.js")

    script(src="/javascripts/main.js")
    block styles
    block scripts

  body
    include partials/header
    block content    
    include partials/footer
