extends layout

block content
    div#profile.container.full-width
        h1 Profile
        div
            img(src="" + user.photos)
            h3.text-center=user.displayName
            h3.text-center=user.profileUrl
            div
                h4=JSON.stringify(user)